body{
  padding: 0px;
  margin: 0px;
  background-image: url(back.jpg);
}
#mainPopup {
  height: 400px;
  width: 400px;
  font-family: Quicksand;
  color: white;
}
#para{
  background-color: #242323;
  width: 250px;
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
}
#time{
  background-color: #242323;
  width: 100px;
  right: 0px;
  font-size: 14px;
  position: absolute;
  display: inline-block;
  text-align: right;
  font-weight: bold;
}
h1 {
  font-size: 2em;
}
